In [11]:
import pandas as pd # Str + Enter
import numpy as np

In [16]:
index = ["Berlin", "Madrid", "Rom"]
bevölkerung  = pd.Series(data = [3.6, 3.3, 2.8], index = index)
fläche = pd.Series(data = [892, 604, 1285], index = index)
land = pd.Series(data = ["Deutschland", "Spanien", "Italien"], index = index)
sprache = pd.Series(data = ["deutsch", "spanisch", None], index = index)

my_dict = {
    'Bevölkerung': bevölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df = pd.DataFrame(my_dict) # speichern
df # damit etwas angezeigt wird

        Bevölkerung  Fläche         Land   Sprache
Berlin          3.6     892  Deutschland   deutsch
Madrid          3.3     604      Spanien  spanisch
Rom             2.8    1285      Italien      None

In [5]:
df.shape

(3, 4)

In [6]:
df.dtypes

Bevölkerung    float64
Fläche           int64
Land            object
Sprache         object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Berlin to Rom
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bevölkerung  3 non-null      float64
 1   Fläche       3 non-null      int64
 2   Land         3 non-null      object
 3   Sprache      2 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

In [8]:
df.describe()

       Bevölkerung       Fläche
count     3.000000     3.000000
mean      3.233333   927.000000
std       0.404145   341.846457
min       2.800000   604.000000
25%       3.050000   748.000000
50%       3.300000   892.000000
75%       3.450000  1088.500000
max       3.600000  1285.000000

In [9]:
df.isnull()

        Bevölkerung  Fläche   Land  Sprache
Berlin        False   False  False    False
Madrid        False   False  False    False
Rom           False   False  False     True

In [10]:
df.isnull().sum()

Bevölkerung    0
Fläche         0
Land           0
Sprache        1
dtype: int64

# Frage 2

In [12]:
np.where(df.isna())

(array([2], dtype=int64), array([3], dtype=int64))

In [14]:
df.iloc[2,3] = "italienisch"
df

        Bevölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

In [20]:
df.loc["Rom", "Sprache"] = "italienisch"
df

        Bevölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

# Frage 3

In [21]:
stadt = ["New York"]
bevölkerung  = pd.Series(data = [8.5], index = stadt)
fläche = pd.Series(data = [784], index = stadt)
land = pd.Series(data = ["USA"], index = stadt)
sprache = pd.Series(data = ["english"], index = stadt)

my_dict = {
    'Bevölkerung': bevölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df2 = pd.DataFrame(my_dict) # spei
df2

          Bevölkerung  Fläche Land  Sprache
New York          8.5     784  USA  english

In [22]:
df3 = pd.concat([df, df2])
df3

          Bevölkerung  Fläche         Land      Sprache
Berlin            3.6     892  Deutschland      deutsch
Madrid            3.3     604      Spanien     spanisch
Rom               2.8    1285      Italien  italienisch
New York          8.5     784          USA      english

In [23]:
df3["EU"] = df3["Land"] != "USA"
df3

          Bevölkerung  Fläche         Land      Sprache     EU
Berlin            3.6     892  Deutschland      deutsch   True
Madrid            3.3     604      Spanien     spanisch   True
Rom               2.8    1285      Italien  italienisch   True
New York          8.5     784          USA      english  False

# Frage 5

In [24]:
df3['Region'] = np.where(df3["EU"] == True, "Europe", "Americas")
df3

          Bevölkerung  Fläche         Land      Sprache     EU    Region
Berlin            3.6     892  Deutschland      deutsch   True    Europe
Madrid            3.3     604      Spanien     spanisch   True    Europe
Rom               2.8    1285      Italien  italienisch   True    Europe
New York          8.5     784          USA      english  False  Americas

In [19]:
df ["Sprache"] = df["Sprache"].fillna("italienisch")
   df

IndentationError: unexpected indent (4177795246.py, line 2)